body {
  color: #000;
  background: #fff;
  margin: 0;
}

.next-error-h1 {
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  display: inline-block;
  margin: 0 10px 0 0; /* Adjusted margin for spacing */
  padding: 0 10px 0 0; /* Adjusted padding for spacing */
  font-size: 24px;
  font-weight: 500;
  vertical-align: middle; /* Adjusted vertical alignment */
  line-height: 1; /* Adjusted line height */
}

@media (prefers-color-scheme: dark) {
  body {
    color: #fff;
    background: #000;
  }
  .next-error-h1 {
    border-right: 1px solid rgba(255, 255, 255, 0.3);
  }
}

.error-container {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.error-heading {
  display: inline-flex; /* Use inline-flex to keep h1 and h2 on the same line */
  align-items: center; /* Align items vertically in the flex container */
}

.error-container h2 {
  font-size: 14px;
  font-weight: 400;
  margin: 0;
}